<% layout('layouts/boilerplate') %> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ccxt@1.43.74/dist/ccxt.browser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js" integrity="sha256-4sbTzmCCW9LGrIh5OsN8V5Pfdad1F1MwhLAOyXKnsE0=" crossorigin="anonymous"></script>
<div class="row d-flex justify-content-around mt-1 mt-sm-3">
    <% if(typeof(ticker) != undefined && ticker.length > 0) {%> 
        <% for( let tic of ticker) { %> 
            <% if(tic != null ){ %> 
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="card border-warning  mb-3 <% if(!tic.last){%> noData <%}%>" id="<%=tic._id%>">
                    <% if(currentUser && tic.creator.equals(currentUser._id)){%> 
                        <form action="/investments/<%= tic._id %>?_method=DELETE" method="POST" class="d-flex justify-content-end">
                            <button class="btn btn-close btn-close-white py-0 xButton" aria-label="Delete"><span aria-hidden="true">&times;</span></button>
                        </form>
                        <% } %> 
                        <img src="" alt="" class="img-fluid">
                        <div class="card-body text-warning py-0">
                           
                            <h3 class="card-title text-center symbol"><% if(tic.symbol){ %> <%= tic.symbol %> <% } else { %> Exchagne Error <% } %>  </h3>
                                
                            <div class="d-flex justify-content-around">
                                <% if(tic.last){ %> 
                                <h5 class="card-text text-left" id="<%=tic._id %>_last">$<%= tic.last.toFixed(2)%></h5>
                                <h6 class="card-text text-right" id="<%=tic._id %>_change"> <small class="text-muted"> change: </small> $<%= tic.change.toFixed(2) %></h6>
                                <%} else {%>
                                    <h5 class="card-text text-center">No Data</h5>
                                    
                                     <% } %> 
                            </div>
                            <p class="card-text d-flex justify-content-around flex-md-wrap flex-lg-nowrap">
                                <% if(tic.open){ %> 
                                    <small class="text-muted mx-2"> Open: $<%= tic.open.toFixed(2) %> </small> 
                                    <small class="text-muted mx-2"> Last Close: $<%= tic.close.toFixed(2) %> </small>
                                    <% } %> 
                                </p>
                                <% if(tic.datetime){ %> 
                                    <p class="d-flex justify-content-center flex-nowrap m-0 p-0">
                                        <bold class="text-warning" id="<%=tic._id %>_time"> Reported: <span class="text-info"><%= (tic.time) %> </span></bold> 
                                    </p>
                                    <% } else { %> 
                                        <p class="d-flex justify-content-center flex-nowrap m-0 p-0">
                                            <bold class="text-muted" id="<%=tic._id %>_time"> <span class="text-bold">Market Error</span></bold> 
                                        </p>
                                        <% } %> 
                                        <a type="button hidden" class="stretched-link" href="/investments/<%= tic._id %>"></a> 
                                    </div>
                                    <div class="card-footer text-muted d-flex align-items-center justify-content-between mt-0 exchange">
                                        <%= tic.exchange %>  
                                        <% if(tic.datetime){ %> 
                                            <small class="text-muted mx-2" id="<%=tic._id %>_date"><%= (tic.date) %> </small>
                                            <% } %> 
                                            <% if(currentUser && tic.creator.equals(currentUser._id)){%> 
                                                <a type="button" id="editBtn" href="/investments/<%= tic._id %>/edit" class="btn text-warning btn-sm">Edit</a>
                                                <% } else { %> 
                                                    <a type="button" id="editBtn" href="/investments/home" class="btn btn-outline-secondary btn-sm">Personalize</a>
                                                    <% } %> 
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <% } %> 
                                        <% } %> 
                                        <% } else { %>
                                            <div class="col-sm-6">
                                                <div class="card border-warning text-center mt-4">
                                                    <div class="card-body text-warning">
                                                        <h3 class="card-title">No Tickers To Load</h3>
                                                        <h5 class="card-text">You don't have any personalize tickers, yet.</h5>
                                                        <div class="d-flex flex-row mt-4 justif-content-around">
                                                            <div class="col-sm-6">
                                                                <a type="button" class="btn btn-outline-info btn-lg" type="submit" href="/investments/new">Make Your Own</a>
                                                            </div>
                                                            
                                                            <div class="col-sm-6">
                                                                <form action="/investments/home"  method="POST">
                                                                    <input type="hidden" name="loadDefault" id="loadDefault" value=true> 
                                                                    <button class="btn btn-outline-primary btn-lg" aria-label="resubmit">Load Default</button>
                                                                </form>
                                                                <br>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>  
                                        
                                       
                                        <% if(ticker.length > 0) {%> 
                                        <script type="text/javascript">
                                            var ticker = '<%- JSON.stringify(ticker) %>'; 
                                            var DateTime = luxon.DateTime;
                                        </script>   
                

                                        <script src="/js/updateTics.js" type="text/javascript" id="updateScript" data-url="ticker">
                                        </script>


                                        <% } %> 

                                
                                        
                                        