<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row d-flex justify-content-around align-items-center h-100">
    <% for( let tic of ticker) { %> 
        <% if(!tic.last){ %>
            <div class="col-10 text-center bg-danger rounded m-4">
                <h3 class="m-2" >Warning!</h3>
                <h5 class="font-weight-bold"><%=tic.exchange%> is not reporting data for <%=tic.symbol%>   </h5>
                <h5 class="text-dark font-weight-bold"> Delete this ticker and choose a different exchange. </h5>
                <h5 class="text-dark font-weight-bold mt-n2 mb-3"> Or wait to see if it comes back online (which it won't).</h5>
            </div>
            <% } %> 
        <div class="col-sm-6 col-md-4">
            <div class="card text-center border-warning text-warning mb-3 mt-5">
                <img src="" alt="" class="img-fluid">
                <div class="card-body text-warning py-0">
                    <h3 class="card-title text-center symbol"><% if(tic.symbol){ %> <%= tic.symbol %> <% } else { %> Exchagne Error <% } %>  </h3>
                    <div class="d-flex justify-content-around">
                        <% if(tic.last){ %> 
                        <h5 class="card-text text-left" id="<%=tic._id %>_last">$<%= tic.last.toFixed(2)%></h5>
                        <h6 class="card-text text-right" id="<%=tic._id %>_change"> <small class="text-muted"> change: </small> $<%= tic.change.toFixed(2) %></h6>
                        <%} else {%>
                            <h5 class="card-text text-center">No Data</h5>
                             <% } %> 
                    </div>
                    <p class="card-text d-flex justify-content-around flex-md-wrap flex-lg-nowrap">
                        <% if(tic.open){ %> 
                            <small class="text-muted mx-2"> Open: $<%= tic.open.toFixed(2) %> </small> 
                            <small class="text-muted mx-2"> Last Close: $<%= tic.close.toFixed(2) %> </small>
                            <% } %> 
                        </p>
                    <% if(tic.datetime){ %> 
                    <p class="d-flex justify-content-center flex-nowrap m-0 p-0">
                        <bold class="text-muted" id="<%=tic._id %>_time"> Reported: <span class="text-info"><%= (tic.time) %> </span></bold> 
                    </p>
                    <% } else { %> 
                        <p class="d-flex justify-content-center flex-nowrap m-0 p-0">
                            <bold class="text-muted" id="<%=tic._id %>_time"> <span class="text-info">Market Error</span></bold> 
                        </p>
                        <% } %> 
                    
                </div>
                <div class="card-footer text-muted d-flex align-items-center justify-content-between mt-0 exchange">
                    <%= tic.exchange %>  
                    <% if(tic.datetime){ %> 
                    <small class="text-muted mx-2"><%= (tic.date) %> </small>
                    <% } %> 
                </div>
                <% if( currentUser && tic.creator.equals(currentUser._id)){ %> 
                <div class="card-footer d-flex border-top-0 align-items-center justify-content-around mt-0">
                    
                    <a type="button" id="editBtn" href="/investments/<%= tic._id %>/edit" class="btn btn-outline-info btn-sm">Edit</a>
                        <form action="/investments/<%= tic._id %>?_method=DELETE" method="POST" class="d-inline-flex justify-content-end ">
                            <button class="btn btn-outline-danger btn-sm" aria-label="Delete">Delete</button>
                        </form>
                        <a href="/investments/home" class="btn btn-outline-warning btn-sm">My investments</a>
                </div>
                <% } %> 
                
            </div>


            <% if(!currentUser) {%> 
                
                <h4><a href="/login" class="text-warning"> Login to leave a review</a></h4>
                <p class="starability-result" data-rating="3">
                  Rated: 3 stars
                </p>
                <% } %> 
        </div>

        <% } %> 
        <% if(currentUser) {%> 
        <aside class="col-6 mt-3">
            <h4 class="text-warning">Leave A Review</h4>
            <form action="/investments/<%= ticker._id %>/reviews" method="PUT">
            <div class="mb-0">  
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label"></label>
                <textarea class="form-control text-warning bg-transparent border-warning" name="review[body]" id="body" cols="30" rows="5">Review Text</textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button disabled="disabled"class="btn btn-outline-warning">Coming Soon</button>
            </form>
        </aside>
        <% } %> 
            
            
    </div>

    <script type="text/javascript">
        var ticker = '<%- JSON.stringify(ticker) %>'; 
    </script>

    <script src="/js/updateTics.js" type="text/javascript" id="updateScript" data-url="ticker">
    </script>
    
    <!-- button to update card
        <a href="/investments"  class="card-link btn btn-primary btn-small p-1 m-0 ">Update</a> -->